* {
    box-sizing: border-box;
}

body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #eff3f7;
}

.main-container {
    text-align: center;
    width: 50%;
    max-width: 1300px;
    margin: 0px auto;
}

.main-card-container {
    margin-top: 70px;
}

.main-card-above {
    margin-top: 100px;
    background-color: white;
}

.main-card-under {
    margin-top: 50px;
}

.main-input-container {
    margin-top: 20px;
}

.main-button-container {
    margin-top: 20px;
}

.main-container .main-topic {
    color: #6f6f79;
    text-shadow: 2px 2px 3px #bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: inline;
    font-weight: lighter;
    font-size: 40px;
}
.main-container .main-text1 {
    font-weight: "bold";
    font-size: 25px;
    margin: 10px;
}
.main-container .main-text2 {
    font-weight: "bold";
    margin: 10px;
}

.main-container .main-input {
    max-width: 1000px;
    margin: 0px auto;
    width: 400px;
    margin-bottom: 20px;
    background-color: #eff3f7;
}

.main-container .main-button {
    margin: 20px;
}
