* {
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
}

.main-container {
  text-align: center;
  width: 40%;
  max-width: 1200px;
  min-width: 560px;
  margin: 0px auto;
}

.main-card-container {
  margin-top: 70px;
}

.main-container .main-topic {
  color: #6f6f79;
  text-shadow: 2px 2px 3px #bbbbbb;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  display: inline;
  font-weight: lighter;
  font-size: 40px;
}
.main-container .main-text1 {
  font-weight: "bold";
  font-size: 25px;
  margin: 10px;
}
.main-container .main-text2 {
  font-weight: "bold";
  margin: 10px;
}

.main-container .main-input {
  max-width: 1000px;
  min-width: 10px;
  margin: 0px auto;
  width: 350px;
  margin-bottom: 20px;
  background-color: #eff3f7;
}

.main-container .main-button {
  margin: 20px;
}

.main-container .main-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
